@font-face {
    font-family: 'nokiafc22';
    src: url("./nokia_cellphone/nokiafc22.ttf");
  }

* {
    /* box-sizing: border-box; */
    z-index: 5;
}

:root {
    --light-clr: #f1f1e4;
    --mid-grey: #c0c0c0;
    --std-shadow: 0 10px 20px rgba(0,0,0,0.30), 0 8px 6px rgba(0,0,0,0.22);
    --sml-shadow: 0 5px 10px rgba(0,0,0,0.30), 0 4px 3px rgba(0,0,0,0.22);
    --black-3210: rgb(15, 15, 15);
    --green-3210: rgb(159, 185, 65);
}

html, body {
    margin: 10;
    padding: 10;
    background-color: var(--light-clr);
    font-family: 'Helvetica Neue', sans-serif;
    font-family: 'nokiafc22', sans-serif;
    font-size: 16px;
}

a {
    color: inherit;
}

button {
    font-size: inherit;
    font-family: inherit;
    box-shadow: var(--sml-shadow);
    background-color: var(--light-clr);
    background: radial-gradient(rgba(255, 255, 255, 0.95),#bdbdb05b)

}

.container {
    width: 360px;
    height: 1000px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    /* background-color: aquamarine; */
    position: relative;
}

.image3210 {
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: none;
}

h1 {
    font-size: 3rem;
    font-weight: 600;
    margin: 1rem auto;
}

h2 {
    font-size: 2rem;
    margin-top: 1rem;
}

#start {
    position: absolute;
    top: 423px;
    left: 126px;
    width: 112px;
    height: 50px;
    border-radius: 30px;
    opacity: 0;
}

#start:hover {
    color: hotpink;
}

.grid {
    width: 240px;
    height: 160px;
    border: 3px solid rgba(0, 0, 0, 0.5);
    display: flex;
    flex-flow: row wrap;

    position: absolute;
    top: 209px;
    left: 59px;
    transform: scale(0.93);
}

.grid div {
    width: 8px;
    height: 8px;
}

.square {
    /* background-color: var(--light-clr); */
    /* background-color: var(--green-3210); */
    box-sizing: border-box;
    opacity: 0.2;

}

.snake {
    background-color: var(--black-3210);
    opacity: 0.7;
}

.apple {
    background-color: var(--black-3210);
    border-radius: 50%;
    opacity: 0.7;
}

.kubok {
    display: none;
    width: 60px;
    height: 40px;
}

.touchButtons {
   
}

.touchButtons button {
    width: 80px;
    height: 45px;
    border-radius: 10px;
    position: absolute;
    opacity: 0;
    transform: scale(1.2);
}

#left {
    top: 615px;
    left: 45px;   
}

#up {
    top: 555px;
    left: 140px;
}

#down {
    top: 685px;
    left: 140px;
}

#right {
    top: 615px;
    left: 235px;
}


footer {
    padding: 1rem;
    margin-top: auto;
    text-align: center;
}
